=render '/users/nav'

.row
  .columns.large-12
    %h4 Sign up
= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
  = devise_error_messages!
  .row
    .columns.large-6
      = f.label :name
      = f.text_field :name
    .columns.large-6
      = f.label :email
      = f.email_field :email
  .row
    .columns.large-6
      = f.label :password
      = f.password_field :password
    .columns.large-6
      = f.label :password_confirmation
      = f.password_field :password_confirmation
  .row
    .columns.large-12
      = f.label :image
      = f.file_field :image, :autofocus => true
  .row
    .columns.large-12
      = f.submit "Sign up", class: "full_button"