=render "nav"
=javascript_include_tag "users/users"

.row
	.columns.large-12
		- if @user == current_user
			/ %h2 #{@user.name}'s homepage
			%h2 My Homepage
		- else
			%h2 #{@user.name}'s profile
.row
	.columns.large-4
		= image_tag @user.image.url(:thumb)
		%br
.row
	.columns.large-12
		%h3 Make an appointment with #{@user.name}
.row
	=form_for @appointment do |f|
		.columns.large-6
			= f.label :location
			= f.text_field :location
		.columns.large-6
			= f.label :time 
			= f.text_field :time
		.columns.large-3
			= f.label :date
			= f.text_field :date
		.columns.large-3
			= f.submit "Schedule it!", class: "full_button"

.row
	.columns.large-12
		- if current_user.id == params[:id]
			%h3 Your Schedule:
		- else
			%h3 #{@user.name.upcase}'s Schedule:
			%br/
	.columns.large-12.appointments_view
		=render 'users/calendar'

